.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.main-content {
  padding-top: 100px;
  padding-bottom: 60px;
}
.close-button {
  align-items: flex-start;
}

.custom-tabs .nav-tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #dee2e6;
}

.custom-tabs .nav-tabs::-webkit-scrollbar {
  display: none; /* This will hide the scrollbar in WebKit browsers */
}

.custom-tabs .nav-item {
  display: inline-block; /* Inline-block ensures the tabs stay in a line */
  margin-right: 0.5rem; /* Optional: adds some space between the tabs */
  margin-bottom: 1rem;
}

.custom-tabs .nav-link {
  padding: 10px 20px; /* Adjust padding as needed */
}

.custom-tabs .nav-link:hover {
  border: none;
}

.custom-tabs .nav-link.active {
  color: #495057;
  border-bottom: 3px solid #007bff;
}
.custom-tabs .nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.custom-tabs .nav-item {
  flex-grow: 1;
  text-align: center;
}

.custom-tabs .nav-link {
  border: none;
  flex-grow: 1;
  margin-bottom: -1px;
}

.custom-tabs .nav-link.active {
  border-bottom: 3px solid #007bff !important;
}

.summary-hloc {
  font-weight: bold;
}
.about-company {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 1rem;
}
.news-card {
  display: flex;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem auto;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  background: #fff;
}

.news-body {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 0.5rem;
}

.news-img {
  flex-shrink: 0;
  width: 75px;
  height: 50px;
  object-fit: cover;
}

.news-title {
  margin-left: 1rem;
  font-weight: bold;
  color: #333;
  font-size: small;
}
@media (max-width: 767px) {
  .news-card {
    display: flex;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem auto;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    background: #fff;
  }

  .news-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 0.5rem;
  }

  .news-img {
    flex-shrink: 0;
    width: 90%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
  }

  .news-title {
    margin-left: 1rem;
    font-weight: normal;
    color: #333;
    font-size: small;
  }
}

.modal-header {
  background-color: #f8f9fa;
  color: #000;
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  font-weight: bold;
}

.modal-body {
  background-color: #fff;
}

.modal-body h5 {
  color: #333;
  font-weight: bold;
}

.modal-body p {
  color: #666;
}

.modal-body a {
  color: #007bff;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  justify-content: flex-start;
  padding: 0.75rem 1rem;
}

.btn-primary {
  background-color: #4267b2;
  border-color: #4267b2;
}

.btn-info {
  background-color: #1da1f2;
  border-color: #1da1f2;
}

.btn {
  margin-right: 0.5rem;
}

.fa-facebook,
.fa-twitter {
  font-size: 1.25rem;
}
.share-container {
  align-items: center;
  margin-top: 1rem;
  background-color: white;
  padding: 0.5rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
.share-modal-title {
  font-weight: bold;
  margin: 0;
}
.share-modal-date {
  color: #666;
  font-weight: normal;
  font-size: medium;
  margin: 0;
}
.fa-twitter {
  width: 24px;
  height: 24px;
  margin: 0px;
  padding: 0px;
}
.fa-facebook-f {
  width: 15px;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.share-modal-button {
  width: 40px;
  height: 40px;
}
.stock-search {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
}

.input-group {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.form-control {
  position: relative;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem 0 0 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-append .btn {
  padding: 0.5rem 1rem;
  margin-left: -1px;
  line-height: 1.5;
  background-color: white;
  border: 1px solid blue;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 0 0.25rem 0.25rem 0;
}

.input-group-append .btn:not(:last-child) {
  border-radius: 0;
}

.font-awesome-icon {
  display: inline-block;
  width: 1.5em;
  text-align: center;
  font-size: 1.25rem;
}

.list-group {
  width: 100%;
  position: absolute;
}

.list-group-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

@media (max-width: 768px) {
  .stock-search {
    margin: 1rem;
  }

  .form-control,
  .input-group-append .btn {
    padding: 0.5rem;
  }
}
.stock-search {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-input-group {
  position: relative;
}

.search-input {
  border-radius: 20px 0 0 20px;
  border: 3px solid blue;
  border-right: none;
}

.clear-btn {
  border: 3px solid blue;
  background-color: white;
  color: blue;
  border-left: none;
  border-radius: 0;
  padding-left: none;
  border-radius: 0px 20px 20px 0px !important;
  z-index: 6;
}
.search-btn {
  border: 3px solid blue;
  border-right: none;
  background-color: white;
  color: blue;
  border-left: none;
  border-radius: 0;
  padding-right: none;
  margin: 0%;
  z-index: 6;
}
.clear-btn {
  border-radius: 0 20px 20px 0;
}

.suggestions-list {
  width: auto;
  display: block;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  padding-right: (var(--bs-gutter-x) * 1);
  z-index: 8;
}

.suggestion-item {
  cursor: pointer;
  display: block;
}
.suggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-input {
  z-index: 6 !important;
}

.search-input-group {
  position: relative;
}

.suggestions-list {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  margin-top: -1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-left: 0;
  padding-right: 0;
  background-color: white;
}
@media (max-width: 768px) {
  .stock-search {
    padding: 0 15px;
  }
}
.navbar-brand {
  font-size: 1.5rem;

  padding: 0.5rem 1rem;
}
.search {
  width: 100%;

  justify-content: center;
  margin: 0 auto;
}
.searchtitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header-link.active {
  color: white;
  text-decoration: none;
  border-radius: 15px;
  border: 1px solid white;
}
.header-link {
  color: white;
  text-decoration: none;
  width: 100%;
}
.header {
  background-color: blue !important;
  color: white;
  padding: 0.5rem;
}
.footer {
  background-color: lightgrey !important;
}
.footer-text {
  color: black;
  text-align: center;
  font-weight: bold;
}
.stock-card {
  background-color: white;

  border-radius: 10px;
  border: none;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.stock-info .card-title,
.price-info-up .card-title,
.price-info-down .card-title {
  font-weight: bold;
}

.stock-info .card-subtitle,
.market-status {
  color: #6c757d;
}

.company-logo .card-img {
  width: 100%;
  max-width: 80px;
  height: auto;
  margin: 0 auto;
  border-radius: 0px;
}

.price-info-up .card-title,
.price-info-up .card-text,
.price-info-up .fa-arrow-up {
  color: #28a745;
}

.price-info-down .card-title,
.price-info-down .card-text,
.price-info-down .fa-arrow-down {
  color: #dc3545;
}

.market-status {
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: bold;
}
.stock-quote .quote-current,
.stock-quote .quote-change {
  font-size: 1.5rem;
}

.stock-quote .price-up {
  color: #28a745; /* Green for price up */
}

.stock-quote .price-up .fa-arrow-up {
  color: #28a745;
}

.stock-quote .price-down {
  color: #dc3545; /* Red for price down */
}

.stock-quote .price-down .fa-arrow-down {
  color: #dc3545;
}

.stock-quote .no-change {
  color: #6c757d; /* Grey for no change */
}

.stock-quote .quote-time {
  color: #6c757d;
}
.current-coompany-title {
  font-size: 2rem;
  font-weight: normal;
}
.stock-card-subtitle {
  font-size: 1rem;
  font-weight: bold;
}
.stock-card .card-body {
  padding: 0;
}
.quote-current.card-title {
  font-size: 2rem;
  font-weight: normal;
}
.market-status-current {
  font-weight: bold;
}
.small-hlop {
  font-size: 0.75rem;
  margin-bottom: 0px;
}
.share-modal-share {
  width: 100%;
}
.btn-close {
  color: #1da1f2;
}
.insider-sentiments-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.insider-sentiments-table thead {
  border-bottom: 1px solid #dee2e6;
}
.insider-sentiments-table tbody tr {
  border-bottom: 1px solid #dee2e6;
}

.insider-sentiments-table th,
.insider-sentiments-table td {
  border: none;
  border-bottom: #6c757d;
  padding: 8px;
  text-align: center;
  background-color: white;
}

.insider-sentiments-table tr th {
  background-color: white;
}
.insider-sentiments-table tr td {
  background-color: white;
}
.chart-container {
  margin: 0;
  padding: 0;
}
.search-result-container {
  margin: 0;
  padding: 0;
}
