.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.main-content {
  padding-top: 60px;
  padding-bottom: 60px;
}
.close-button {
  align-items: flex-start;
}

.custom-tabs .nav-tabs {
  border-bottom: 2px solid #dee2e6;
}

.custom-tabs .nav-item {
  margin-bottom: -2px;
}

.custom-tabs .nav-link {
  width: 100%;
  border: none;
  color: #6c757d;
}

.custom-tabs .nav-link:hover {
  border: none;
}

.custom-tabs .nav-link.active {
  color: #495057;
  border-bottom: 3px solid #007bff;
}
.custom-tabs .nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.custom-tabs .nav-item {
  flex-grow: 1;
  text-align: center;
}

.custom-tabs .nav-link {
  border: none;
  flex-grow: 1;
  margin-bottom: -1px;
}

.custom-tabs .nav-link.active {
  border-bottom: 3px solid #007bff !important;
}
.summary-hloc {
  font-weight: bold;
}
.about-company {
  font-weight: bold;
  text-decoration: underline;
}
.news-card {
  display: flex;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem auto;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  background: #fff;
}

.news-body {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 0.5rem;
}

.news-img {
  flex-shrink: 0;
  width: 75px;
  height: 50px;
  object-fit: cover;
}

.news-title {
  margin-left: 1rem;
  font-weight: bold;
  color: #333;
  font-size: small;
}
.modal-header {
  background-color: #f8f9fa;
  color: #000;
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  font-weight: bold;
}

.modal-body {
  background-color: #fff;
}

.modal-body h5 {
  color: #333;
  font-weight: bold;
}

.modal-body p {
  color: #666;
}

.modal-body a {
  color: #007bff;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  justify-content: flex-start;
  padding: 0.75rem 1rem;
}

.btn-primary {
  background-color: #4267b2;
  border-color: #4267b2;
}

.btn-info {
  background-color: #1da1f2;
  border-color: #1da1f2;
}

.btn {
  margin-right: 0.5rem;
}

.fa-facebook,
.fa-twitter {
  font-size: 1.25rem;
}
.share-container {
  display: flex;

  align-items: center;
  margin-top: 1rem;
  background-color: #f8f9fa;
  padding: 0.5rem;
}
.share-modal-title {
  font-weight: bold;
}
.share-modal-date {
  color: #666;
  font-weight: normal;
}
.stock-search {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
}

.input-group {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.form-control {
  position: relative;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem 0 0 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-group-append .btn {
  padding: 0.5rem 1rem;
  margin-left: -1px;
  line-height: 1.5;
  background-color: white;
  border: 1px solid blue;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 0 0.25rem 0.25rem 0;
}

.input-group-append .btn:not(:last-child) {
  border-radius: 0;
}

.input-group-append .btn:hover {
  background-color: blue;
  border-color: blue;
}

.font-awesome-icon {
  display: inline-block;
  width: 1.5em;
  text-align: center;
  font-size: 1.25rem;
}

.list-group {
  width: 100%;
  position: absolute;
  z-index: 3;
}

.list-group-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

@media (max-width: 768px) {
  .stock-search {
    margin: 1rem;
  }

  .form-control,
  .input-group-append .btn {
    padding: 0.5rem;
  }
}
.stock-search {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-input-group {
  position: relative;
}

.search-input {
  border-radius: 20px 0 0 20px;
  border: 3px solid blue;
  border-right: none;
}

.clear-btn {
  border: 3px solid blue;
  background-color: white;
  color: blue;
  border-left: none;
  border-radius: 0;
  padding-left: none;
}
.search-btn {
  border: 3px solid blue;
  border-right: none;
  background-color: white;
  color: blue;
  border-left: none;
  border-radius: 0;
  padding-right: none;
  margin: 0%;
}
.clear-btn {
  border-radius: 0 20px 20px 0;
}

.suggestions-list {
  width: auto;
  display: block;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.suggestions-list:hover {
  background-color: #f8f9fa;
}
.suggestion-item {
  cursor: pointer;
  display: block;
}

.suggestion-item:hover {
  background-color: #f8f9fa;
}

.suggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .stock-search {
    padding: 0 15px;
  }
}
.navbar-brand {
  font-size: 1.5rem;

  padding: 0.5rem 1rem;
}
.search {
  width: 100%;
  /* center its  */

  justify-content: center;
  margin: 0 auto;
}
.searchtitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header-link.active {
  color: white;
  text-decoration: none;
  border-radius: 15px;
  border: 1px solid white;
}
.header-link {
  color: white;
  text-decoration: none;
  width: 100%;
}
.header {
  background-color: blue !important;
  color: white;
  padding: 0.5rem;
}
.footer {
  background-color: lightgrey !important;
}
.footer-text {
  color: black;
  text-align: center;
  font-weight: bold;
}
